
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hospital</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <style>

        </style>
    </head>
    <body>
        <div class="pos">
            <header><p id="ha">Contact Us +9196366 20000/01 | suh@hospital.com</p></header>
            <div id="hdr">
            <p id="b" ><span style="color:#2fa5eb ;">SUPER</span> Hospital</p>
            <nav >
                <a href="{{url_for('home')}}">HOME</a>
                <a href="{{url_for('about')}}">ABOUT US</a>
                <a href="{{url_for('services')}}">SERVICES</a>
                <a href="{{url_for('doctors')}}">DOCTORS</a>
                <a href="{{url_for('contact')}}">CONTACT US</a>
            </nav>
            </div>
        </div>
        <main class="about">
            <br><br>
            <p ><b>Welcome to <mark>SUPER Hospital</mark></b></p>
            <table cellspacing="0" cellpadding="15">
                <tr><td>
                    <h3 >Best Medical & Health Care Needs to Our Patients</h3>
                    <p id="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsum, exercitationem totam voluptatum similique doloribus perferendis
                        sequi soluta corrupti saepe velit eos alias ut, suscipit nesciunt sapiente impedit dolor sunt.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsum, exercitationem totam voluptatum similique doloribus perferendis
                            sequi soluta corrupti saepe velit eos alias ut, suscipit nesciunt sapiente impedit dolor sunt.</p>
                        <p id="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsum, exercitationem totam voluptatum similique doloribus perferendis
                            sequi soluta corrupti saepe velit eos alias ut,.</p>
                 </td>
                 <td >
                <img src="../static/images/about.jpg" alt="image" width="400" height="250">
            </td></tr></table>
            <br><br>
        </main>
            <hr color="lightgrey">
            <main class="about">
            <br>
            <p>Address</p>
            <br><br>
            <h3>SUPER Hospital & Research Center</h3><br>
            <p id="p">
                180 Shri Rampuri, Niwari Road,<br>
                kaal Road<br>Benad,Bharathpur 454645<br>contact no-875746738675<br>Email: dfdrfbgfh@gmail.com 
            </p><br><br><br>
        </main>


        <footer >
            <p id="f">
                &copy;SUPER Hospital,site designed & developed by MITRAz
            </p>
        </footer>