<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hospital</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <style>

        </style>
    </head>
    <body>
        <div class="pos">
            <header><p id="ha">Contact Us +9196366 20000/01 | suh@hospital.com</p></header>
            <div id="hdr">
            <p id="b" ><span style="color:#2fa5eb ;">SUPER</span> Hospital</p>
            <nav >
                <a href="{{url_for('home')}}">HOME</a>
                <a href="{{url_for('about')}}">ABOUT US</a>
                <a href="{{url_for('services')}}">SERVICES</a>
                <a href="{{url_for('doctors')}}">DOCTORS</a>
                <a href="{{url_for('contact')}}">CONTACT US</a>
                <a href="{{url_for('appointment')}}">DASHBOARD</a>

            </nav>
            </div>
        </div>
        <main class="c">
            <br>
                <p>-----------</p>
                <br>
                <p id="pd">CONTACT US</p>
                <P id="p">SUPER Hospital & Research Center</P>
                <p id="p">mob : +91 0123456789</p>
                <p id="p">Email : suh@hospital.com</p>
                <br>
        </header>
       </main>

        <footer >
            <p id="f">
                &copy;SUPER Hospital,site designed & developed by MITRAz
            </p>
        </footer>
