<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hospital</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <style>

        </style>
    </head>
    <body>
        <div class="pos">
            <header><p id="ha">Contact Us +9196366 20000/01 | suh@hospital.com</p></header>
            <div id="hdr">
            <p id="b" ><span style="color:#2fa5eb ;">SUPER</span> Hospital</p>
            <nav >
                <a href="{{url_for('home')}}">HOME</a>
                <a href="{{url_for('about')}}">ABOUT US</a>
                <a href="{{url_for('services')}}">SERVICES</a>
                <a href="{{url_for('doctors')}}">DOCTORS</a>
                <a href="{{url_for('contact')}}">CONTACT US</a>
                <a href="{{url_for('appointment')}}">DASHBOARD</a>

            </nav>
            </div>
        </div>
        
        <main class="srvs">
            <div class="s1" ><br><br>
            <P>OUR OUTSTANDING SERVICES</P>
            <br><br>
            <p id="ps">What We Offer!</p><br>
            <ul id="p">
                <li>DENTAL IMPLANTS</li>
                <li>WHITENING</li>
                <li>VACCINATIONS</li>
                <li>LABORATORY</li>
                <li>MEDICAL DRESSAGE</li>
                <li>EMERGENCY CONTRAPTION</li><br>
            </ul>
         </div>
            <div class="s1" id="s1">
                <img src="../static/images/01.jpg" alt="image" width="400" height="250">
            </div>
        </main>
            <br>
            <hr>
            <main class="srvs">
            <br>
            <p>-------------</p>
            <br>
            
            <h3>Our Department</h3>
            <ul id="p"><li>DENTAL CARE</li>
            <li>OTOLOGY</li>
            <li>CARDIAC</li>
            <li>HEPATOLOGY</li>
            <li>DENTAL CARE</li>
            <li>OTOLOGY</li>
            <li>CARDIAC</li>
            <li>HEPATOLOGY</li>
            <br>
        </ul>
        <br>
        </main>

        
        <footer >
            <p id="f">
                &copy;SUPER Hospital,site designed & developed by MITRAz
            </p>
        </footer>