<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hospital</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <style>

        </style>
    </head>
    <body>
        <section>
        
        <div class="pos">
        <header><p id="ha">Contact Us +9196366 20000/01 | suh@hospital.com</p></header>
        <div id="hdr">
        <p id="b" ><span style="color:#2fa5eb ;">SUPER</span> Hospital</p>
        <nav >
            <a href="{{url_for('home')}}">HOME</a>
            <a href="{{url_for('about')}}">ABOUT US</a>
            <a href="{{url_for('services')}}">SERVICES</a>
            <a href="{{url_for('doctors')}}">DOCTORS</a>
            <a href="{{url_for('contact')}}">CONTACT US</a>
            <a href="{{url_for('appointment')}}">DASHBOARD</a>

        </nav>
        </div>
    </div>
        <div id="dhm">
        <main class="hm">
            <div id="img">
                
                <div id="opt"><br><br><br><br><br>
                    <p id="h3">Health Care Servives</p>
                    <p>We care about your health</p><br><br><br><br><br><br>
                </div> 
            </div>
        </main>
        
        </div> 
        
        <main class="hm">
        <div id="home">
            <br><br><p ><b>We are medical center</b></p><br>
            <br>
            <h3> We Have Medical Plan Optional for You!</h3><br>
            <p id="p" class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Porro adipisci amet fugiat explicabo libero quibusdam consectetur? Ipsa hic 
                facilis quas, velit, quasi totam numquam natus enim, dicta nihil beatae neque</p>

            <p id="p" class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Porro adipisci amet fugiat explicabo libero quibusdam consectetur? Ipsa hic 
                facilis quas, velit, quasi totam numquam natus enim, dicta nihil beatae neque</p><br>

            <p id="p" class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Porro adipisci amet fugiat explicabo libero quibusdam consectetur? Ipsa hic 
                facilis quas, velit, quasi totam numquam natus enim, dicta nihil beatae
                 nequefacilis quas, velit, quasi totam numquam natus enim, dicta nihil beatae neque</p><br>

            <ul id="p">
                <li>Lorem ipsum dolor sit amet</li>
                <li>consectetur adipisicing elit.</li>
                <li>Porro adipisci amet fugiat explicabo libero quibusdam consectetur</li>
                <li>Ipsa hic facilis quas, velit</li>
                <li>quasi totam numquam natus enim, dicta nihil beatae neque</li>
            </ul>
        </div><br>
        </main>
        <hr><br>
        <main class="hm">
        <form action="{{ url_for('edit_note') }}" method="post">
            <h2 id="fh">Make an Appointment</h2>
        <table width="50%" cellpadding="20" cellspacing="0" style="margin: right;padding-left: 50%;" >
            <tr><td><input type="hidden" name="patient_id" id="patient_id" value="{{data[0]}}"></td></tr>
            <tr>
            <td><input type="text" name="Firstname" id="Firstname" class="input" placeholder="First Name" value="{{data[1]}}"></td>
            <td><input type="text" name="Lastname" id="Lastname" class="input" placeholder="Last Name"value="{{data[2]}}"></td>
            </tr>
            <tr>
                <td><input type="text" name="Email" id="Email" class="input" placeholder="Email id" value="{{data[3]}}"></td>
                <td><input type="text" name="mob" id="mob" class="input" placeholder="Mobile No" value="{{data[4]}}"></td>
            </tr>
            <tr>
                <td><select name="sex" id="sex" class="input1" value="{{data[5]}}">
                    <option value="sex">--SEX--</option>
                    <option value="male">--MALE--</option>
                    <option value="female">--FEMALE--</option>
                </select></td>
                <td><input type="text" name="AppointmentDate" id="AppointmentDate" class="input" placeholder="Appointment Date" value="{{data[6]}}"></td>
            </tr>
            <tr><td colspan="2"><textarea name="Additional_information" id="Additional_information" rows="5" cols="65" value="{{data[7]}}"></textarea></td></tr>
            <tr><td colspan="2" align="center"><input type="submit" value="submit" class="submit"></td></tr>
        </table>
        </form>
        </main>
        </section> 
    <footer >
        <p id="f">
            &copy;SUPER Hospital,site designed & developed by MITRAz
        </p>
    </footer>
    </body>
</html>